<div class="main posts-index">
  <div class="posts-show-item">
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <div class="post-user-name">
          <% if post.user.avatar %>
        　　  <%= image_tag post.user.avatar, :class =>"user-icon" %>
        　<% else %>
        　　<%= image_tag("/user_images/default_icon.png", :class =>"user-icon") %>
        　<% end %>
          <%= link_to(post.user.username , "/users/#{post.designer_id}") %>
        </div>
        <div>
          <%= link_to("/items/#{post.id}") do %>
          <%= image_tag post.image_name, :class => "item-image"%>
          <% end %>
        </div>
        <div class="clear_float"></div>
        <div class="post-right">
       <!-- likes -->
       <%if current_user %>
          <% if Like.find_by(user_id: current_user.id, post_id: post.id) %>
             <%= link_to("/likes/#{post.id}/destroy", {method: "post"}) do %>
              <span class="fas fa-heart like-btn-unlike"></span>
             <% end %>
          <% else %>
            <%= link_to("/likes/#{post.id}/create", {method: "post"}) do %>
              <span class="fas fa-heart like-btn"></span>
            <% end %>
          <% end %>
        <% end %>
        <div class="fa">
          <% likes_count = Like.where(post_id: post.id).count %>
          <%= likes_count %> likes
        </div>
        <div class="headline" style="margin-bottom: 30px">
          <%= simple_format(render_with_hashtags(post.detail)) %>
        </div>
      <% end %>
    <% end %>
    </div>
    <div class="clear_float" style="margin-bottom: 50px"/>
  </div>
</div>
