<div class="main user-show">
  <div class="container">
    <div class="user">
      <% if @user.icon_image_name %>
    　　  <%= image_tag @user.icon_image_name.thumb.url %>
    　<% else %>
    　　<%= image_tag("/user_images/default_icon.png") %>
    　<% end %>
      <h2><%= @user.name %></h2>
      <%if @user.user_group == 2%>
        <p>Brand: <%= @user.brand_name %></p>
        <p><%= @user.designer_profile %></p>
      <% end %>
      <%if @current_user %>
        <%if @user.id == @current_user.id %>
          <p><%= @user.email %></p>
          <%=  link_to( "編集", "/users/#{@user.id}/edit") %>
        <% end %>
      <% end %>
    </div>
    <div class="clear_float"></div>
    <% if @user.brand_name %>
      <ul class="user-tabs">
        <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
        <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      </ul>
    <% else %>
      <ul class="user-tabs">
        <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      </ul>
    <% end %>
      <% @likes.each do |like| %>
          <% post = Post.find_by(id: like.post_id) %>
          <div class="image_index">
              <%= link_to("/posts/#{post.id}") do %>
                   <%= image_tag post.image_name[0].thumb.url %>
              <% end %>
          </div>
      <% end %>
  </div>
</div>
