<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規デザイナー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
               <div>
                 <%= message %>
               </div>
        <% end %>

        <%= form_for @user, url: { :controller => :users, :action => :register_designer} do |f| %>
          <%= f.label("デザイナー(ユーザー)名") %>
          <%= f.text_field :name %>

          <%= f.hidden_field :user_group, :value => 2 %>

          <%= f.label("ブランド名") %>
          <%= f.text_field :brand_name %>

          <%= f.label("アイコン") %>
          <%= f.file_field :icon_image_name %>

          <%= f.submit("登録") %>
        <% end %>
      
      </div>
    </div>
  </div>
</div>
