<div class="main users-index">
  <div class="container">
    <h3><%= label :user, :followers %></h3>
    <% @user.followers.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <% if user.avatar %>
        　　  <%= image_tag user.avatar %>
        　<% else %>
        　　<%= image_tag("/user_images/default_icon.png") %>
        　<% end %>
        </div>
        <div class="user-right">
          <%= link_to(user.username, "/users/#{user.id}") %>
        </div>
      </div>
    <% end %>
    <%= link_to( "/users/#{@user.id}") do %>
    <%= label :user, :back %>
    <% end %>
  </div>
  <div class="clear_float" style="margin-bottom: 35px"/>
</div>
