<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>

    <div class="form">
      <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
        <div class="field" >
          <div class="posts-show-item">
            <%= image_tag @post.image_name.standard.url, :class => "item-image"%>
          </div>
            <div class="clear_float"></div>
          <%= form_for @post, :url => { :controller => :posts, :action => :update } do |f|%>

            <%= f.hidden_field :image_name, :value => @post.image_name %>
            <%= f.label("コメント") %>
            <%= f.text_area :detail %>

            <%= f.submit("保存") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
