<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>

    <div class="form">
      <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <%= form_for @post, :url => { :controller => :posts, :action => :update } do |f|%>
            <p><%= f.label("アイテム画像（必須）") %></p>
            <%= f.file_field :image_name, multiple: true %>
            <p>*何も選択しなかった場合、元の画像がそのまま残ります。</p>

            <%= f.label("アイテム名（必須）") %>
            <%= f.text_field :name %>

            <%= f.label("価格（必須）") %>
            <%= f.number_field :price %>

            <%= f.label("アイテム詳細1（必須）") %>
            <%= f.text_area :caption %>

            <%= f.label("アイテム詳細2") %>
            <%= f.text_area :detail %>

            <%= f.submit("保存") %>
          <% end %>


      </div>
    </div>
  </div>
</div>
