<div class="main posts-new">
  <div class="container">

  <h1 class="form-heading">新規投稿</h1>

    <div class="form">
      <div class="form-body">

          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <%= form_for @post, :url => { :controller => :posts, :action => :create } ,html: { class: "directUpload", data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } } do |f|%>

          <div class="field" >
            <%= f.label("アイテム画像（必須）") %>
            <%= f.file_field :image_name, accept: 'image/jpg,image/jpeg,image/png,image/gif', :id => "image" %>
            <%= f.hidden_field :remote_image_url %>


            <!-- <input type="button" id="clear" value="画像を選び直す"> -->

            <div class="preview"><img id="crop_img" /></div>
            <div class="clear_float"></div>

            <%= f.hidden_field :designer_id, :value => current_user.id %>
            <div class="clear_float"></div>

            <%= f.label("コメント") %>
            <%= f.text_area :detail, :placeholder => "アイテムに関するこだわりなどあれば、自由に入力してください"%>

            <%= f.submit("投稿", :id => '_submit', "data-disable-with" => "送信中...") %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<%= stylesheet_link_tag    'cropper.min.css' %>
<%= javascript_include_tag 'cropper.min.js' %>
<%= javascript_include_tag 'crop_image.js' %>
