<div class="main posts-new">
  <div class="container">

  <h1 class="form-heading">
    <%= label :post, :new %>
  </h1>

    <div class="form">
      <div class="form-body">

          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <%= form_for @post, :url => { :controller => :posts, :action => :create }, :id=>'myform' do |f|%>

          <div class="field" >
            <%= f.label :image %>
            <%= f.file_field :image_name, accept: 'image/jpg,image/jpeg,image/png,image/gif', :id => "image" %>
            <%= f.hidden_field :remote_image_url %>

            <div class="preview"><img id="crop_img" /></div>
            <div class="clear_float"></div>

            <%= f.hidden_field :designer_id, :value => current_user.id %>
            <div class="clear_float"></div>

            <%= f.label :comment %>
            <%= f.text_area :detail, :placeholder =>  t('activerecord.attributes.post.comment_placeholder')%>

            <%= f.submit(t('activerecord.attributes.post.post'), :id => '_submit', "data-disable-with" =>t('activerecord.attributes.post.posting')) %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<%= stylesheet_link_tag    'cropper.min.css' %>
<%= javascript_include_tag 'cropper.min.js' %>
<%= javascript_include_tag 'crop_image.js' %>
