<div class="main posts-new">
  <div class="container">

  <h1 class="form-heading">アイテム出品</h1>

    <div class="form">
      <div class="form-body">

          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <%= form_for @post, :url => { :controller => :posts, :action => :create } do |f|%>
            <%= f.label("アイテム画像（必須）") %>
            <%= f.file_field :image_name, multiple: true %>

            <%= f.hidden_field :designer_id, :value => @current_user.id %>

            <%= f.label("アイテム名（必須）") %>
            <%= f.text_field :name %>

            <%= f.label("価格（必須）") %>
            <%= f.number_field :price, :placeholder => "税抜き価格を入力してください" %>

            <%= f.label("アイテム詳細1（必須）") %>
            <%= f.text_area :caption, :placeholder => "サイズ、素材、モデルの身長や体重などを入力してください"%>

            <%= f.label("アイテム詳細2") %>
            <%= f.text_area :detail, :placeholder => "その他アイテムに関するこだわりなど、自由に入力してください"%>

            <%= f.submit("出品") %>
          <% end %>

      </div>
    </div>

  </div>
</div>
