<div class="main posts-new">
  <div class="container">

  <h1 class="form-heading">アイテム出品</h1>

    <div class="form">
      <div class="form-body">

          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <%= form_for @post, :url => { :controller => :posts, :action => :create } do |f|%>
            <%= f.label("アイテム画像（必須）") %>
            <%= f.file_field :image_name, multiple: true %>

            <%= f.hidden_field :designer_id, :value => @current_user.id %>

            <%= f.label("コメント") %>
            <%= f.text_area :detail, :placeholder => "アイテムに関するこだわりなどあれば、自由に入力してください"%>

            <%= f.submit("投稿") %>
          <% end %>

      </div>
    </div>

  </div>
</div>
