<!DOCTYPE html>
<html>
  <head>
    <title>ラナクロ run-a-clothes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header-logo">
          <%= link_to("ラナクロ", "/") %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
            <li class="icon">
              <%= link_to("/users/#{@current_user.id}/timeline") do %>
              <span class="fas fa-home fa-2x"></span> HOME
              <% end %>
            </li>
            <li class="icon">
              <%= link_to("/posts/new") do%>
              <span class="far fa-plus-square fa-2x"></span> POST
              <% end %>
            </li>
            <li>
              <%= link_to( "/users/#{@current_user.id}") do %>
              <%= image_tag @current_user.icon_image_name.thumb.url, :class =>"user-icon" %>
              <% end %>
            </li>
        <% else %>
        <li>
          <%= link_to("About","/about") %>
        </li>
          <li>
            <%= link_to("登録","/signup") %>
          </li>
          <li>
            <%= link_to("ログイン","/login") %>
          </li>
        <% end %>
      </ul>

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>
    </header>
  </body>
</html>
